header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0/25%);
    margin: -21px;
    position: relative;

    & h1 {
            padding: 18px 0 10px 0;
            margin: 10px;
            font-size: 31px;
        }
}

main {

    @media (max-width:1000px) {
        padding: 0 1rem
    }
}


.ville {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #f3f3f3;
    text-align: center;
    gap: 1rem;
    font-size: 12px;
    margin-top: 21px;
    & i {
        font-size: 1rem;
    }
}


/* NAVBAR */

.navbar {
    text-align: center;

    & h2 {
    margin-top: 2rem;
    font-size: 1.2rem;
}
    & p {
    font-size: 1rem;
}
    & button {
    color: white;
    font-weight: 300;
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    font-size: 14px;
    padding: 12px 16px;
    border: none;
    border-radius: 2rem;
    box-shadow: 2px 1px 16px -3px rgb(0 0 0/25%);
    transition: 120ms;
    &:hover {
        transform: scale(1.01);
        box-shadow: 2px 1px 16px -3px rgb(0 0 0/100%);

    }
}
}

.fonctionnement {
    margin-bottom: 25px;
    padding-left: 100px;
    font-size: 12px;
    padding-right: 100px;

}

.etape {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    counter-reset: etape;
    padding-left: 1px;
    font-weight: bold;

    & li {
        background-color: #f6f6f6;
        padding: 1rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        list-style: none;
        box-shadow: 3px 3px 8px rgb(0 0 0 / 15%);
            
        &::before {
            content: "" counter(etape);
            counter-increment: etape;
            background-color: #9356dc;
            color: white;
            border-radius: 100%;
            position: relative;
            left: -14px;
            padding: 4px 9px 4px 9px;
        }
        
         & i {
        color: #7e7e7e;
        padding-right: 10px;}
        
        
    }
}

.etape li:hover {
    background-color: #f5edff;
}

.etape li:hover .fa-solid {
    color: #9356dc;
}

@media (max-width:1024px) {
    .etape {
      flex-direction: column;  
    }
    
}
@media (max-width:768px) {
    .etape {
        padding: 0px 30px 0px 30px;
    }
}






/*MENUS*/

.menus {
    background-color: #f6f6f6;
    margin-bottom: 2rem;
    padding: 3em;
    margin: 0px;
    & h2 {
        margin: 0px;
        padding-bottom: 20px;
        padding-left: 54px;
        font-size: 20px;
    }
}

@media (max-width:768px) {
    .menus-cartes {
        padding: 0px 30px 50px 30px;
    }
}
.menus-cartes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

@media (max-width:1024px) {
.menus-cartes {
    grid-template-columns: repeat(1,4fr);
}
}
.carte-description {
    position: relative;
    padding-left: 17px;
}

.carte-description .fa-solid:hover  {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient(0deg, #9356dc, #ff7fda);
    -webkit-background-clip: text;
}
.carte-description .fa-solid {
    opacity: 0;
}
.carte-description .fa-regular  {
    opacity: 1;
    &:hover {
        opacity: 0;
    }

}

.photo {
    height: 10em;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
}

.new {
    position: relative;
    &::before {
        content: "Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            background-color: #99e2d0;
            color: #008766;
            display: grid;
            place-items: center;
            top: 1rem;
            right: 1rem;
            
    }
}

.carte-description i {
    font-size: 2rem;
    position: absolute;
    right: 1rem; 
    top: 29%;
}

.carte {
    background-color: white;
    border-radius: 1em;
    margin: 0 50px 0 50px;
 }