@mixin heart-like {
    
    & i {
            font-size: 2rem;
            position: absolute;
            right: 1rem;
            bottom: 28px;
    
        }
    
        & .fa-solid {
            opacity: 0;
    
            &:hover {
                opacity: 1;
                color: transparent;
                background-image: linear-gradient(0deg, #9356dc, #ff7fda);
                -webkit-background-clip: text;
            }
        }
    
        & .fa-regular {
            opacity: 1;
    
            &:hover {
                opacity: 0;
            }
        }
}
